[core]
    editor = vim
    preloadindex = true
    whitespace = fix,-indent-with-non-tab,trailing-space
    pager = diff-so-fancy | less --tabs=4 -RFX
    autocrlf = false

[system]
    autocrlf = false

[user]
    name = Carter Green
    email = cgreen@belvederetrading.com

[commit]
    template = /home/cgreen/.gitmessage

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[push]
    default = simple

[alias]
    aa = add --all
    a = add
    ap = add --patch
    ac = '!git add && git commit'

    b = branch
    # List all branches, both remote and local
    ba = branch -a
    # Delete branch
    bd = branch -d
    # Show detailed branch information
    bv = branch -vv

    c = commit
    # Stage all modified files that have been added to git
    ca = commit -a
    # Pass a commit message in the command
    cm = commit -m
    cam = commit -am
    # Ammend commit
    cd = commit --amend
    cdra = commit --amend --reset-author

    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    # Clone
    cl = clone
    clr = clone --recursive

    # Diff unstaged files
    d = diff
    # Diff with line change count
    ds = diff --stat
    # Diff already staged files
    dc = diff --cached

    f = fetch
    fu = fetch upstream
    fo = fetch origin

    g = grep

    l = log --oneline
    # Show commit graph
    lg = log --oneline --graph --decorate

    ls = ls-files

    m = merge
    ma = merge --abort
    mc = merge --continue
    ms = merge --skip

    # Checkout a commit
    ko = checkout
    # Checkout a branch
    kob = checkout -b

    ps = push
    pso = push origin
    psf = push --force

    pl = pull
    plo = pull origin
    plr = pull --rebase
    plro = pull --rebase origin

    # Unstage a file
    re = reset
    reH = reset HEAD
    reh = reset --hard
    rehH = reset --hard HEAD

    # Rebase
    rbi = rebase --interactive
    rbc = rebase --continue
    rba = rebase --abort

    # Stash
    sh = stash
    shsh = stash show
    shp = stash pop
    shls = stash list

    s = status
    # git status and ignore untracked files
    suno = status -uno

    # "Undo"
    undo = reset HEAD~

