[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/opt/anaconda/bin/jupyter-notebook
User=carter
Group=users
WorkingDirectory=/home/carter/Documents/notebooks
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

